build
dist / media
node_modules
.DS_Store
.env
.env*
.next
.vercel
.pnpm-store

# Payload default media upload directory
private-media
public/media/
public/files
public/landscapes
public/cards
public/portraits
public/avatars
public/meta

# sqlite db
payload.db
dump.sql
# Sentry Config File
.env.sentry-build-plugin

# exports
src/uploads

# TypeScript
tsconfig.tsbuildinfo

# Playwright
playwright-report
test-results
.playwright
